<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="arevel.uoc.booksapppac1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".BooksAppPac"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Activities del proyecto -->
        <!-- Definimos la activity BookListActivity, que gestionará la lista de libros
         como activity principal y que se ejecutará al lanzar la aplicación -->
        <activity
            android:name=".BookListActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name=".BookListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Activity que gestionará los detalles de los libros. Definimos también el tema ya
         que es diferente al del general de la aplicación-->
        <activity
            android:name=".BookDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--Se define el servicio que gestionará las notificaciones que se envíen desde Firebase -->
        <!--a la aplicación-->
        <service android:name=".BooksAppFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>