<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arevel.uoc.booksapppac1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activities del proyecto -->

        <!-- Definimos la activity BookListActivity, que gestionará la lista de libros
         como activity principal y que se ejecutará al lanzar la aplicación -->
        <activity android:name=".BookListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity que gestionará los detalles de los libros -->
        <activity android:name=".BookDetailActivity"></activity>
    </application>

</manifest>